// Global, header css
@import '../variables/options.scss';
@import 'locations.scss';
@import 'search.scss';
@import 'weather.scss';
@import 'hourly-forecast.scss';

body {
    margin: 0;
    font-family: 'Brandon grotesque', sans-serif;
    color: white;
}

.app-wrapper {
    background-image: linear-gradient($bg-color-1, $bg-color-2);
    // background-color: $bg-color;
    min-height: 100vh;
    height: 100%;
}

.component-wrapper {
    padding: $component-spacing;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;

    h3 {
        margin-bottom: 0;
        color: $primary;
    }

    ul {
        margin-bottom: 0;

        li {
            display: inline;
            text-decoration: none;
            padding: 0 1rem;

            a {
                color: $primary;

                &:hover {
                    color: $primary;
                }
            }
        }
    }
}
