// Display Weather Component

.display-weather {
    .wrapper {
        margin: 1.5rem 0;
        max-width: 800px;
        margin: auto;

        .location-content {
            display: flex;
            margin-top: 1.5rem;
            padding: 1rem;
            color: white;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            border: 2px solid white;
            border-radius: 15px;
            transition: all 0.3s ease-in-out;

            &:hover {
                transform: scale(1.04);
            }

            h4 {
                font-size: 400;
                margin: 0 2rem;
            }

            .arrow-right {
                height: 35px;
                transition: all 0.3s ease-in-out;

                &:hover {
                    color: #2ede6e;
                }
            }
        }
    }
}
