.weather-component {
    .weather-wrapper {
        border: 2px solid;
        border-radius: 20px;
        padding: 1.6rem;
        margin-bottom: 1.5rem;
        cursor: pointer;
    }

    .weather-container {
        display: flex;
        justify-content: space-around;
        align-items: center;

        h4, h5 {
            margin-bottom: 0;
        }

        .temperature-container {
            display: flex;
            align-items: center;

            .temperature-seperator {
                margin: 0 1rem;
                font-size: 1.3rem;
                font-weight: bold;
            }
        }

        .icon-big {
            height: 40px;
        }

        .icon-small {
            height: 25px;
            margin-right: 1rem;
        }

        .dayText {
            font-weight: bold;
        }

        .dayNumbers {
            font-size: 90%;
        }
    }
}
