.max-width-100 {
    max-width: 100px;
}
.max-width-200 {
    max-width: 200px;
}
.max-width-300 {
    max-width: 300px;
}
.max-width-400 {
    max-width: 400px;
}
.max-width-500 {
    max-width: 500px;
}
.max-width-600 {
    max-width: 600px;
}
.max-width-700 {
    max-width: 700px;
}
.max-width-800 {
    max-width: 800px;
}
.max-width-900 {
    max-width: 900px;
}
.max-width-1000 {
    max-width: 1000px;
}
.max-width-1100 {
    max-width: 1100px;
}
.max-width-1200 {
    max-width: 1200px;
}
.max-width-1300 {
    max-width: 1300px;
}
.max-width-1400 {
    max-width: 1400px;
}
.max-width-1500 {
    max-width: 1500px;
}
.max-width-1600 {
    max-width: 1600px;
}

.min-width-100 {
    min-width: 100px;
}
.min-width-200 {
    min-width: 200px;
}
.min-width-300 {
    min-width: 300px;
}
.min-width-400 {
    min-width: 400px;
}
.min-width-500 {
    min-width: 500px;
}
.min-width-600 {
    min-width: 600px;
}
.min-width-700 {
    min-width: 700px;
}
.min-width-800 {
    min-width: 800px;
}
.min-width-900 {
    min-width: 900px;
}
.min-width-1000 {
    min-width: 1000px;
}
.min-width-1100 {
    min-width: 1100px;
}
.min-width-1200 {
    min-width: 1200px;
}
.min-width-1300 {
    min-width: 1300px;
}
.min-width-1400 {
    min-width: 1400px;
}
.min-width-1500 {
    min-width: 1500px;
}
.min-width-1600 {
    min-width: 1600px;
}


.max-height-100 {
    max-height: 100px;
}
.max-height-200 {
    max-height: 200px;
}
.max-height-300 {
    max-height: 300px;
}
.max-height-400 {
    max-height: 400px;
}
.max-height-500 {
    max-height: 500px;
}
.max-height-600 {
    max-height: 600px;
}
.max-height-700 {
    max-height: 700px;
}
.max-height-800 {
    max-height: 800px;
}
.max-height-900 {
    max-height: 900px;
}
.max-height-1000 {
    max-height: 1000px;
}
.max-height-1100 {
    max-height: 1100px;
}
.max-height-1200 {
    max-height: 1200px;
}
.max-height-1300 {
    max-height: 1300px;
}
.max-height-1400 {
    max-height: 1400px;
}
.max-height-1500 {
    max-height: 1500px;
}
.max-height-1600 {
    max-height: 1600px;
}

.min-height-100 {
    min-height: 100px;
}
.min-height-200 {
    min-height: 200px;
}
.min-height-300 {
    min-height: 300px;
}
.min-height-400 {
    min-height: 400px;
}
.min-height-500 {
    min-height: 500px;
}
.min-height-600 {
    min-height: 600px;
}
.min-height-700 {
    min-height: 700px;
}
.min-height-800 {
    min-height: 800px;
}
.min-height-900 {
    min-height: 900px;
}
.min-height-1000 {
    min-height: 1000px;
}
.min-height-1100 {
    min-height: 1100px;
}
.min-height-1200 {
    min-height: 1200px;
}
.min-height-1300 {
    min-height: 1300px;
}
.min-height-1400 {
    min-height: 1400px;
}
.min-height-1500 {
    min-height: 1500px;
}
.min-height-1600 {
    min-height: 1600px;
}
