// Colors
$bg-color: white;
$primary: white;
$secondary: #e82f57;

// Padding, spacing
$component-spacing: 3rem 0;

// Imports
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import '../elements/menu-button.scss';
@import './animations.scss';
