// Imports
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import './max-min-lengths.scss';
@import '../elements/menu-button.scss';

// Colors
$bg-color-1: #21111E;
$bg-color-2: #193058;
$details-blue: #7d8ec5;

// Padding, spacing
$component-spacing: 3rem 0;
